{% extends "base.html" %}
{% block content %}
<style>
    .todolist {
        height: 600px;
        padding: 15px;
        border-radius: 5px;
        margin: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    @keyframes expand {
        from {
            transform: scale(0);
            opacity: 0;
            background: #5470B0;
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
    }

    .row {
        animation: fade .750s ease;
    }
</style>
<h1><br>หมายเลขโต๊ะ : {{ table.id }}</h1><br>
<div class="row">
    <div class="col-md todolist">
            {% csrf_token %}
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <h3>เพิ่มเมนูอาหาร</h3>
                </div>
                <div class="p-2 bd-highlight"><input type="text" name="foodname" id="foodname_input"
                        placeholder="ค้นหารายการอาหาร" class="form-control" onkeyup="search_menu()"></div>
            </div>
        <ul id="foodmenu" class="list-group overflow-auto">
            {% for f in food %}
            <div class="col">
                <li class="list_menu list-group-item d-flex justify-content-between align-items-center bd-highlight">
                    <div class="foodname p-1 flex-grow-1 bd-highlight">{{ f.name }}</div>
                    <div class="p-1 bd-highlight alert alert-danger m-0 mr-1">{{ f.price|floatformat:"0" }} บาท</div>
                    <div class="p-1 bd-highlight"> <button type="button" class="btn btn-success"
                            onclick="addtoOrder(this)" value="{{ f.name }}" price="{{ f.price }}"><i
                                class="fas fa-plus"></i> เพิ่ม</button></div>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>


    <div class="col-md todolist overflow-auto ">
        <form action="">
            <div class="d-flex bd-highlight">
                <div class="p-1 w-100 bd-highlight">
                    <h3>รายการอาหารของออเดอร์</h3>
                </div>
                <input type="hidden" name="total_price" id="form_total" value="0">
                <div class="p-1 h-50 flex-shrink-0 bd-highlight">
                    <button class="btn btn-primary" type="submit" name="" value="">ดำเนินการต่อ <i
                            class="fas fa-angle-right"></i></button>
                </div>
            </div>
            <h4>ราคาทั้งหมด : <span id="total_price">0</span> บาท</h4>
            <ul id="foodorder" class="list-group">
            </ul>
        </form>
    </div>

</div>

<script>
    var total_price;
    var count = 1

    function calTotalPrice() {
        total_price = 0;
        let inputs = document.getElementsByClassName("form-control")
        for (let i = 1; i < inputs.length; i++) {
            total_price += inputs[i].value * Number(inputs[i].getAttribute("price"))
        }
        document.getElementById("total_price").innerHTML = total_price
        document.getElementById("form_total").value = total_price
    }

    function addtoOrder(list) {
        var order_ul = document.querySelectorAll("#foodorder > li")
        var have_menu = false

        //เพิ่มของเดิม
        for (i = 0; i < order_ul.length; i++) {
            if (list.value == order_ul[i].firstChild.textContent) {
                num = order_ul[i].firstChild.nextSibling.value
                order_ul[i].firstChild.nextSibling.value = parseInt(num) + 1
                have_menu = true

            }
        }
        //สร้างใหม่
        if (have_menu == false) {
            ul = document.querySelector("#foodorder")
            li = document.createElement("li")
            li.className = "list-group-item d-flex justify-content-between align-items-center"
            li.innerHTML = '<div class="foodname p-1 flex-grow-1 bd-highlight">' + list.value + '</div>'
            li.innerHTML = li.innerHTML + '<input id="amount' + count + '"class="form-control" price="' + list
                .getAttribute("price") +
                '"style="width: 60px; margin-right: 10px;" onchange="input_event(this)" type="number" value="1" min="0" max="999"/>'
            li.innerHTML = li.innerHTML +
                '<button type="button" class="btn btn-danger" onclick="deleteMenu(this)">ลบ</button>'
            li.style.animation = "expand .25s ease-in-out"
            ul.appendChild(li)
            count = count + 1
        }

        calTotalPrice()
    }

    function deleteMenu(menuname) {
        menuname.parentNode.remove()
        calTotalPrice()

    }

    function input_event(input) {
        if (input.value <= 0) {
            deleteMenu(input)
        }
        calTotalPrice()
    }

    function search_menu() {

        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('foodname_input');
        filter = input.value.toUpperCase();
        ul = document.getElementById("foodmenu");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByClassName("foodname")[0];

            txtValue = a.textContent
            console.log(txtValue, txtValue.toUpperCase().indexOf(filter))
            console.log(li[i])
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].parentNode.style.display = "";
            } else {
                console.log("none")
                li[i].parentNode.style.display = "none";
            }
        }
    }
</script>

{% endblock  %}