{% extends "base.html" %}
{% block content %}
<style>
    .todolist {
        height: 600px;
        padding: 15px;
        border-radius: 5px;
        margin: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    @keyframes expand {
        from {
            transform: scale(0);
            opacity: 0;
            background: #5470B0;
        }
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
    }

    .row {
        animation: fade .750s ease;
    }

    .list_menu:hover {
        background: #EEE;
        transition: 0.2s;
    }
</style>
<h2><br>โต๊ะที่ : {{ table.id }}</h2>
<h2>หมายเลขออเดอร์ : {{ order.id }}</h2>
<div class="row">
    <div class="col-md todolist overflow-auto">
        {% csrf_token %}
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">
                <h3>เพิ่มเมนูอาหาร</h3>
            </div>
            <div class="p-2 bd-highlight"><input type="text" name="foodname" id="foodname_input"
                    placeholder="ค้นหารายการอาหาร" class="form-control" onkeyup="search_menu()"></div>
        </div>
        <ul id="foodmenu" class="list-group">
            {% for f in food %}
            <div class="col" onclick="addtoOrder(this)" value="{{ f.name }}" price="{{ f.price }}" food-id="{{ f.id }}">
                <li class="list_menu list-group-item d-flex justify-content-between align-items-center bd-highlight">
                    <div class="foodname p-1 flex-grow-1 bd-highlight">{{ f.name }}</div>
                    <div class="p-1 bd-highlight alert alert-danger m-0 mr-1"><b>ราคา</b> 
                        {{ f.price|floatformat:"0" }} บาท
                    </div>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>


    <div class="col-md todolist overflow-auto">
        <form action="{% url 'save_order' order_id=order.id %}" method="POST">
            {% csrf_token %}
            <div class="d-flex bd-highlight">
                <div class="p-1 w-100 bd-highlight">
                    <h3>รายการอาหารของออเดอร์</h3>
                </div>
                <input type="hidden" name="total_price" id="form_total" value="0">
                <div class="p-1 h-50 flex-shrink-0 bd-highlight">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                        type="button">ดำเนินการต่อ <i class="fas fa-angle-right"></i></button>
                </div>
            </div>
            <h4>&nbsp;<b>ราคาทั้งหมด : <span id="total_price">0</span> บาท</b></h4>
            <input type="hidden" id="order_foods" name="order_foods" value="">
            <ul id="foodorder" class="list-group">
                {% for order_food in order_foods %}
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    style="animation: 0.25s ease-in-out 0s 1 normal none running expand;">
                    <div class="foodname p-1 flex-grow-1 bd-highlight">{{ order_food.food.name }}</div>
                    จำนวน :

                    {% if order_food.status == None %}
                    <input id="amount{{ forloop.counter }}" status="none" class="form-control"
                        price="{{ order_food.food.price }}" name="{{ order_food.food.id }}"
                        style="width: 60px; margin-right: 10px; margin-left: 10px;" onchange="input_event(this)"
                        type="number" value="{{ order_food.unit }}" min="0" max="999">
                    <button type="button" class="btn btn-danger" onclick="deleteMenu(this)"><i
                            class="fas fa-trash-alt"></i> ลบ</button>
                    {% elif order_food.status %}
                    <input id="amount{{ forloop.counter }}" status="true" class="form-control"
                        price="{{ order_food.food.price }}" name="{{ order_food.food.id }}"
                        style="width: 60px; margin-right: 10px; margin-left: 10px;" onchange="input_event(this)"
                        type="number" value="{{ order_food.unit }}" min="0" max="999" disabled>
                    <div class="p-1 bd-highlight alert alert-success m-0 mr-1"><i class="fas fa-check"></i>
                        จัดทำแล้ว</div>
                    {% else %}
                    <input id="amount{{ forloop.counter }}" status="false" class="form-control"
                        price="{{ order_food.food.price }}" name="{{ order_food.food.id }}"
                        style="width: 60px; margin-right: 10px; margin-left: 10px;" onchange="input_event(this)"
                        type="number" value="{{ order_food.unit }}" min="{{ order_food.unit }}" max="999" disabled>
                    <div class="p-1 bd-highlight alert alert-warning m-0 mr-1"><i class="fas fa-paper-plane"></i>
                        เมนูถูกส่งแล้ว</div>
                    {% endif %}
                </li>

                {% endfor %}
            </ul>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">โปรดเลือกเพื่อดำเนินการต่อ</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                            <div class="modal-body">
                                <p><b>ส่งออเดอร์</b> : เมนูที่ผู้ใช้เลือกจะถูกส่งและไม่สามารถแก้ไขเมนูนั้นได้</p>
                                <p><b>บันทึกข้อมูล</b> : เมนูที่ผู้ใช้เลือกจะถูกบันทึกไว้และสามารถแก้ไขจำนวนของเมนูได้</p>
                            </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" name="action" value="save"><i
                                    class="fas fa-save"></i> บันทึกข้อมูล</button>
                            <button type="submit" class="btn btn-primary" name="action" value="sendorder"><i
                                    class="fas fa-paper-plane"></i> ส่งออเดอร์</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>






<script>
    var total_price;
    var count = document.querySelectorAll("#foodorder > li").length

    //ฟังก์ชันคำนวนราคามรวม และ เก็บรหัสเมนูอาหาร

    function calTotal() {
        total_price = 0;
        let input_order_food = document.getElementById("order_foods")
        input_order_food.value = ""
        let inputs = document.getElementsByClassName("form-control")
        for (let i = 1; i < inputs.length; i++) {
            if (inputs[i].getAttribute("status") == "none") {
                input_order_food.value += inputs[i].getAttribute("name") + ","
            }
            total_price += inputs[i].value * Number(inputs[i].getAttribute("price"))
        }
        document.getElementById("total_price").innerHTML = total_price
        document.getElementById("form_total").value = total_price
    }

    function addtoOrder(list) {
        var order_ul = document.querySelectorAll("#foodorder > li")
        var have_menu = false

        //เพิ่มของเดิม
        for (i = 0; i < order_ul.length; i++) {
            var status = order_ul[i].firstElementChild.nextSibling.nextSibling.getAttribute("status")
            if ((list.getAttribute("value") == order_ul[i].firstElementChild.textContent) && (status == "true" ||
                    status == "none")) {
                var num = order_ul[i].firstElementChild.nextSibling.nextSibling.value
                order_ul[i].firstElementChild.nextSibling.nextSibling.value = parseInt(num) + 1
                have_menu = true
            }
        }
        //สร้างใหม่
        if (have_menu == false) {
            ul = document.querySelector("#foodorder")
            li = document.createElement("li")
            li.className = "list-group-item d-flex justify-content-between align-items-center"

            li.innerHTML = '<div class="foodname p-1 flex-grow-1 bd-highlight">' + list.getAttribute("value") + '</div>'
            li.innerHTML = li.innerHTML + 'จำนวน : <input id="amount' + count +
                '"class="form-control" status="none" price="' + list
                .getAttribute("price") + '" name="' + list.getAttribute("food-id") +
                '" style="width: 60px; margin-right: 10px; margin-left: 10px;" onchange="input_event(this)" type="number" value="1" min="0" max="999"/>'
            li.innerHTML = li.innerHTML +
                '<button type="button" class="btn btn-danger" onclick="deleteMenu(this)"><i class="fas fa-trash-alt"></i> ลบ</button>'
            li.style.animation = "expand .25s ease-in-out"
            ul.appendChild(li)
            count = count + 1
        }

        calTotal()
    }

    function deleteMenu(menuname) {
        menuname.parentNode.remove()
        calTotal()

    }

    function input_event(input) {
        if (input.value <= 0) {
            deleteMenu(input)
        }
        calTotal()
    }

    function search_menu() {

        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('foodname_input');
        filter = input.value.toUpperCase();
        ul = document.getElementById("foodmenu");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByClassName("foodname")[0];

            txtValue = a.textContent
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].parentNode.style.display = "";
            } else {
                li[i].parentNode.style.display = "none";
            }
        }
    }
    calTotal()
</script>

{% endblock  %}