{% extends "base.html" %}
{% block content %}
<style>
    #table_list .col {
        text-align: center;
        height: 75px;
        border-radius: 5px;
        margin: 15px 2.5%;
        font-size: 25px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        padding: 0px 0px;

    }

    #table_list .col button {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 5px;
        text-decoration: none;
        padding-top: 10x;

        transition: 0.25s;
    }

    .activetable {
        background: #ff7272;
        color: #fff;
        transition: 0.25s;
    }

    .busytable {
        background: #333;
        color: #fff;
        opacity: 0.3;
        pointer-events: none;
    }

    .activetable:hover {
        background: #f19292;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    @media screen and (max-width: 600px) {
        #table_list {
            margin-left: 4%;
        }
    }
</style>

<div class="row" style="margin-top:50px;">
    <div class="col">
        <h1>ทำการเลือกโต๊ะ</h1>
    </div>
    <div class="col" align="right"><button type="button" class="btn btn-primary"
            style="height: 60px;padding-top: 7.5px;" data-toggle="modal"
            data-target="#exampleModal" onclick="table_list()" id="next_button" disabled>ดำเนินการต่อ</button></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">โต๊ะที่เลือก คือ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'create_order' %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {% for order in form_order %}
                    {{ order.label }}
                    {{ order }}
                    <br><br>
                    {% endfor %}
                </div>
                <div class="hidden_div" style="display:none"></div>
                <input type="hidden" name="count_table" value="" id="count_table">
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="ยืนยืน">
                </div>
            </form>
        </div>
    </div>
</div>


<center>
    <div class="row row-cols-4 row-cols-sm-3 row-cols-md-5 " id="table_list">
        {% for t in table %}
        {% if t.status %}
        <div class="col"><button class="busytable" type="button" onclick="select_order(this)" disabled>{{t.id}} <i class="fas fa-lock"></i></button></div>
        {% else %}   
        <div class="col"><button class="activetable" type="button" onclick="select_order(this)">{{t.id}}</button></div>
        {% endif %}
        {% endfor %}
    </div>
</center>

</div>

<script>
    function select_order(button) {
        var div = document.querySelector(".hidden_div")
        var hidden_input;
        if (button.style.border == "7px solid rgb(45, 45, 45)") {
            button.style.border = "0px solid #333";
            hidden_input = document.getElementById("t"+button.innerHTML)
            hidden_input.remove()
            console.log(div)    
        } else {
            button.style.border = "7px solid rgb(45, 45, 45)";
            hidden_input = document.createElement("input")
            hidden_input.setAttribute("type", "text")
            hidden_input.setAttribute("value", button.innerHTML)
            hidden_input.setAttribute("name", "t"+button.innerHTML)
            hidden_input.setAttribute("id", "t"+button.innerHTML)
            div.appendChild(hidden_input)       
            console.log(div)
        }
        if (div.childElementCount == 0){
            console.log(div.childElementCount)
            document.querySelector("#next_button").disabled = true
        }
        else{
            document.querySelector("#next_button").disabled = false
        }

    }
    function table_list(){
        var div = document.querySelector(".hidden_div")
        var count = div.childElementCount
        document.getElementById("count_table").value = ""
        var num = document.querySelectorAll(".hidden_div > input");
        var text = document.querySelector("#exampleModalLabel");
        text.innerHTML = "หมายเลขโต๊ะที่เลือก คือ "
        for(i=0;i<count;i++){
            document.getElementById("count_table").value += num[i].value
            if(i==0){
                text.innerHTML = text.innerHTML+num[i].value
            }
            else{
                text.innerHTML = text.innerHTML+", "+num[i].value
            }
            
        }
        console.log(text.innerHTML)
    }
</script>
{% endblock  %}