{% extends "base.html" %}
{% block content %}
<style>
    #table_list .col {
        text-align: center;
        height: 75px;
        border-radius: 5px;
        margin: 15px 2.5%;
        font-size: 25px;
        box-shadow: 2px 2px 3px 3px #ccc;
        padding: 0px 0px;

    }

    #table_list .col button {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 5px;
        text-decoration: none;
        padding-top: 10x;
        color: #fff;
        transition: 0.25s;
    }

    .activetable {
        background: #ffb385;
        transition: 0.25s;
    }

    .busytable {
        background: #333;
        color: #fff;
        opacity: 0.3;
        pointer-events: none;
    }

    .activetable:hover {
        background: #f78259;
    }

    @media screen and (max-width: 600px) {
        #table_list {
            margin-left: 4%;
        }
    }
</style>

<div class="row" style="margin-top:50px;">
    <div class="col">
        <h1>ทำการเลือกโต๊ะ</h1>
    </div>
    <div class="col" align="right"><button href="{% url 'create_table' %}" type="button" class="btn btn-primary"
            style="height: 60px;padding-top: 7.5px;" data-toggle="modal"
            data-target="#exampleModal" onclick="table_list()">ดำเนินการต่อ</button></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">โต๊ะที่เลือก คือ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'create_table' %}" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {% for order in form_order %}
                    {{ order.label }}
                    {{ order }}
                    <br><br>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="ยืนยืน">
                </div>
            </form>
        </div>
    </div>
</div>


<center>
    <div class="row row-cols-4 row-cols-sm-3 row-cols-md-5 " id="table_list">
        {% for t in table %}
        <div class="col"><button class="activetable" type="button" onclick="select_order(this)">{{t.id}}</button></div>
        {% endfor %}
    </div>
</center>
<div class="hidden_div" style="display:none">

</div>

<script>
    function select_order(button) {
        var div = document.querySelector(".hidden_div")
        var num = document.querySelectorAll(".hidden_div > input");
        if (button.style.border == "10px solid rgb(51, 51, 51)") {
            button.style.border = "0px solid #333";
            var count = div.childElementCount
            for(i=0;i<count;i++){
                console.log(button.innerHTML, num[i].value)
                if(button.innerHTML == num[i].value){
                    num[i].remove()
                    break
                }
                
            }
            console.log(div)    
        } else {
            button.style.border = "10px solid #333";
            hidden_input = document.createElement("input")
            hidden_input.setAttribute("type", "text")
            hidden_input.setAttribute("value", button.innerHTML)
            div.appendChild(hidden_input)       
            console.log(div)
        }

    }
    function table_list(){
        var div = document.querySelector(".hidden_div")
        var count = div.childElementCount
        var num = document.querySelectorAll(".hidden_div > input");
        var text = document.querySelector("#exampleModalLabel");
        text.innerHTML = "โต๊ะที่เลือก คือ "
        for(i=0;i<count;i++){
            if(i==0){
                text.innerHTML = text.innerHTML+num[i].value
            }
            else{
                text.innerHTML = text.innerHTML+", "+num[i].value
            }
            
        }
        console.log(text.innerHTML)
    }
</script>
{% endblock  %}