{% extends 'base.html' %}
{% block content %}
<style>
    h6 {
        font-size: 18px;
    }
</style>
<h1 style="margin-top:50px;">ใบเสร็จรับเงิน</h1><br><br>
{% if error %}
    <div class="alert alert-warning" role="alert">
        {{error}}
    </div>
{% endif %}
<div class="row">
    <div class="col" style="border:1px solid #AAA; border-radius: 5px; padding:10px;">
        <h6><b>หมายเลขออเดอร์ :</b> {{order.id}}</h6>
        <h6><b>ชื่อ :</b> {{order.name}}</h6>
        <h6><b>วันเวลาออกใบเสร็จ :</b> {{order.date_book|date:"d-M-Y H:i น."}}</h6>
        {% if table %}
        {% if order.order_type == "order_in" %}
        <h6><b>ประเภทของออเดอร์ :</b> ทานที่ร้าน</h6>
        <h6><b>หมายเลขโต๊ะ :</b> {{table}}</h6>
        {% elif order.order_type == "order_buffet" %}
        <h6><b>ประเภทของออเดอร์ :</b> บุฟเฟต์</h6>
        <h6><b>หมายเลขโต๊ะ :</b> {{table}}</h6>
        {% endif %}
        {% else %}
        <h6><b>ประเภทของออเดอร์ :</b> สั่งกลับบ้าน</h6>
        {% endif %}
        <h6><b>ออกใบเสร็จโดยพนักงาน :</b> {{ emp.username }}</h6>
    </div>
    {% if receipt or error%}
    <div class="col" style="border:1px solid #AAA; border-radius: 5px; padding:10px;">
        <h6><b>รายละเอียดใบเสร็จรับเงิน</b></h6>
        <h6>{{receipt.detail}}</h6>
    </div>
    {% else %}
    <div class="col">
        <form action="{% url 'receipt' id=order.id %}" method="POST">
            {% csrf_token %}
            <label><b>รายละเอียดใบเสร็จรับเงิน</b></label>
            <textarea class="form-control" name="detail" rows="5"></textarea>
    </div>
    {% endif %}

</div>


<table class="table table-sm text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">รายละเอียด</th>
            <th scope="col">จำนวน</th>
            <th scope="col">ราคา</th>
        </tr>
    </thead>
    <tbody>
        {% for foods in order_food %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{foods.food.name}}</td>
            <td>{{foods.unit}}</td>
            <td>{{foods.food_price}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex bd-highlight text-right">
    <div class="p-0 flex-grow-1 bd-highlight"></div>
    <div class="p-0 flex-shrink-1 bd-highlight" style="border-bottom:1px solid #AAA; border-top:1px solid #AAA;">
        <h6><b>ราคาทั้งหมด :</b> &nbsp;{{ total_price }} บาท</h6>
        <h6><b>ภาษีมูลค่าเพิ่ม :</b> &nbsp;&nbsp;&nbsp;{{ vat }} บาท</h6>
        <h6><b>จำนวนเงินรวมทั้งสิ้น :</b> &nbsp;{{ total }} บาท</h6>
    </div>
</div>
{% if not receipt and not error %}
    <br><input type="submit" class="btn btn-primary float-right m-2" value="ยืนยัน">
</form>
{% endif %}

{% endblock  %}