{% extends "base.html" %}
{% block content %}
<style>
    #table_list .col {
        text-align: center;
        height: 75px;
        border-radius: 5px;
        margin: 15px 2.5%;
        font-size: 25px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 0px 0px;

    }

    #table_list .col a {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 5px;
        text-decoration: none;
        padding-top: 17.5px;
        color: #fff;
    }

    .activetable {
        background: #ffb385;
        transition: 0.25s;
    }

    .busytable {
        background: #333;
        color: #fff;
        opacity: 0.3;
        pointer-events: none;
    }

    .activetable:hover {
        background: #f78259;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    @media screen and (max-width: 600px) {
        #table_list {
            margin-left: 4%;
        }
    }
</style>

<div class="row" style="margin-top:50px;">
    <div class="col">
        <h1>รายชื่อโต๊ะ</h1>
    </div>
    <div class="col" align="right"><button type="button" class="btn btn-success"
            style="height: 60px;padding-top: 7.5px;" data-toggle="modal" data-target="#exampleModal"><i
                class="fas fa-plus"></i>
            สร้างออเดอร์</button></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">โปรดเลือกประเภทของออเดอร์</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="todefault()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col"><a href="{% url 'at_store' %}" type="button" class="btn btn-info"
                            style="width:100%; margin-bottom: 50px; color:#fff; height: 60px; padding-top:18px;"><i class="fas fa-store"></i>
                            นั่งทานที่ร้าน</a></div>
                    <div class="col"> <button type="button" class="btn btn-info"
                            style="width:100%; margin-bottom: 50px; color:#fff; height: 60px;" data-toggle="modal"
                            data-target="#exampleModal2" onclick="change_detail()"><i class="fas fa-home"></i>
                            สั่งกลับบ้าน</button></div>
                </div>
                <script>
                    var backup = document.querySelector(".modal-body").innerHTML

                    function change_detail() {
                        popup1 = document.querySelector(".modal-body")
                        popup1.innerHTML = document.querySelector(".hidden").innerHTML
                    }

                    function todefault() {
                        popup1 = document.querySelector(".modal-body")
                        popup1.innerHTML = backup
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<div class="hidden" style="display:none;">
    <form action="{% url 'create_order' %}" method="POST">
        <div class="modal-body">
            {% csrf_token %}
            {% for order in form_order %}
            {{ order.label }}
            {{ order }}
            <br><br>
            {% endfor %}
        </div>
        <input type="hidden" name="count_table" value="" id="count_table">
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="ยืนยืน">
        </div>
    </form>
</div>

<center>
    <div class="row row-cols-4 row-cols-sm-3 row-cols-md-5 " id="table_list">
        {% for t in table %}
        {% if t.status %}
        <div class="col animated zoomIn" style="animation-delay: {{forloop.counter0}}0ms; animation-duration:500ms;"><a href="{% url 'select_table' table_id=t.id %}" class="activetable" type="button">
            {% if t.space == 4 %}
                    A{{t.id}}
            {% elif t.space == 6 %}
                    B{{t.id}}
            {% elif t.space == 8 %}
                    c{{t.id}}
            {% else %}
                    D{{ t.id }}
            {% endif %}
        </a>
        </div>
        {% else %}
        <div class="col animated zoomIn" style="animation-delay: {{forloop.counter0}}0ms; animation-duration:500ms;"><a href="" class="busytable" type="button" disable>
            {% if t.space == 4 %}
                    A{{t.id}}
            {% elif t.space == 6 %}
                    B{{t.id}}
            {% elif t.space == 8 %}
                    c{{t.id}}
            {% else %}
                    D{{ t.id }}
            {% endif %}
        <i class="fas fa-lock"></i></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</center>
{% endblock  %}