{% extends 'base.html' %}
{% block content %}
    <h1 style="margin: 50px 0 50px 0;">ยืนยันรายการอาหาร</h1>
    <table class="table text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">เมนู</th>
            <th scope="col">หมายเลขออเดอร์</th>
            <th scope="col">ชื่ออเดอร์</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <form action="{% url 'kitchen' %}" method="POST">
    {% csrf_token %}
        {% for order_food in order_foods %}
            <tr>
                <td scope="row" >{{ forloop.counter }}</td>
                <td>{{ order_food.food.name }}</td>
                <td>{{ order_food.order.id }}</td>
                <td>{{ order_food.order.name }}</td>
                <td>
                    <a href="{% url 'accept_order_food' order_id=order_food.id %}" class="btn btn-success"><i class="fas fa-check"></i> ยืนยัน</a>
                    <a href="{% url 'delete_order_food' order_id=order_food.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> ลบ</a>
                </td>
            </tr>
        {% endfor %}
    </form>
    </tbody>
    </table>
{% endblock content %}
