{% extends "base.html" %}
{% block content %}
<style>
    .user_form {
        width: 75%;
        height: 50%;
        margin: 0 auto;

    }
    .form-control {
        width: 100%;
    }
    body {
        font-size: 17px;
    }
</style>
<h1 style="margin:50px 0 50px 0">แก้ไขพนักงาน</h1>
<div class="user_form">
    {{ user_form.non_field_errors }}
    <form action="{% url 'change_employee' user_id=user_id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <b>{{ user_form.first_name.label }}</b>
                {{ user_form.first_name }}
            </div>
            <div class="col">
                <b>{{ user_form.last_name.label }}</b>
                {{ user_form.last_name }}
            </div>
        </div>

        {% for u_form in user_form %}
        {% if forloop.counter >= 3%}
            <label class="containercheck">
                <b>{{ u_form.label }}</b>
                {{ u_form }}
                <span class="checkmark"></span>
            </label>
        {% endif %}
        {% endfor %}

        {% for emp_form in emp_form %}
        <b>{{ emp_form.label }}</b>
        {{ emp_form }}
        {% endfor %}<br>
        <button name="submit" class="btn btn-success"><i class="fas fa-save"></i> บันทึก</button>
    </form>
</div>
{% endblock  %}
