{% extends 'staff_page.html' %}

    {% block table %}
    <thead>
        <tr>
            <th scope="col">หมายเลขโต๊ะ</th>
            <th scope="col">ความจุ</th>
            <th scope="col">สถานะ</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for t in table %}
        <tr>
            <td value="{{ t.id }}">{{ t.id }}</td>
            <td value="{{ t.space }}">{{ t.space }}</td>
            <td value="{{ t.status }}">{{ t.status }}</td>
            <td>
                <button type="button" class="btn btn-warning" id="{{ t.id }}" data-toggle="modal" data-target="#editfoodModalCenter" onclick="fill_edit(this)">
                  <i class="fas fa-edit"></i> แก้ไข
                </button>
                <button class="btn btn-danger" id="{{ t.id }}" onclick="item_delete(this, 'delete_table')"><i class="fas fa-trash-alt"></i> ลบ</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
  {% endblock table %}


  {% block edit %}
    <form action="{% url 'edit_table' %}" method="POST">
      {% csrf_token %}
      <div class="modal-body" id="edit_form">
      <input type="hidden" name="id" value="">
      {% for f in form %}
        {{f.label}}
        {{f}}
      {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button class="btn btn-success" name="submit" value="change">บันทึก</button>
      </div>
    </form>
  {% endblock edit %}


  {% block create %}
    <form action="{% url 'edit_table' %}" method="POST">
      {% csrf_token %}
      <div class="modal-body" id="create_form">
      {% for f in form %}
        {{f.label}}
        {{f}}
      {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button class="btn btn-success" name="submit" value="create">บันทึก</button>
      </div>
    </form>
  {% endblock create %}