{% extends "staff_page.html" %}

  {% block table %}
    <thead>
        <tr>
            <th scope="col">หมายเลขอาหาร</th>
            <th scope="col">ชื่ออาหาร</th>
            <th scope="col">ราคา</th>
            <th scope="col">จำนวนที่มี</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for f in food %}
        <tr>
            <th scope="row">{{ f.id }}</th>
            <td value="{{ f.name }}">{{ f.name }}</td>
            <td value="{{ f.price }}">{{ f.price }} บาท</td>
            <td value="{{ f.amount }}">{{ f.amount }}</td>
            <td>
                <button type="button" class="btn btn-warning" id="{{ f.id }}" data-toggle="modal" data-target="#editfoodModalCenter" onclick="fill_edit(this)">
                  <i class="fas fa-edit"></i> แก้ไข
                </button>
                <button class="btn btn-danger" id="{{ f.id }}"  onclick="item_delete(this, 'delete_employee')"><i class="fas fa-trash-alt"></i> ลบ</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
  {% endblock table %}


  {% block edit %}
    <form action="{% url 'edit_food' %}" method="POST">
      {% csrf_token %}
      <div class="modal-body" id="edit_form">
      <input type="hidden" name="id" value="">
      {% for f in form %}
        {{f.label}}
        {{f}}
      {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button class="btn btn-success" name="submit" value="change">บันทึก</button>
      </div>
    </form>
  {% endblock edit %}

  {% block fill %}
    <form action="{% url 'edit_food' %}" method="POST">
      {% csrf_token %}
      <div class="modal-body" id="edit_form">
      <label for="">จำนวน</label>
        <input type="number" min="0" name="fill">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button class="btn btn-success" name="submit" value="fill">บันทึก</button>
      </div>
    </form>
  {% endblock fill %}

  {% block create %}
    <form action="{% url 'edit_food' %}" method="POST">
      {% csrf_token %}
      <div class="modal-body" id="create_form">
      {% for f in form %}
        {{f.label}}
        {{f}}
      {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button class="btn btn-success" name="submit" value="create">บันทึก</button>
      </div>
    </form>
  {% endblock create %}