{% extends "staff_page.html" %}
  
  {% block table %}
  <style>
  .addbutton{
    display:none;
  }
  </style>
  <div class="row">
    <div class="col"><a type="button" href="{% url 'create_employee' %}" class="float-right btn btn-success mt-1 mb-4"><i class="fas fa-plus"></i> สร้างผู้ใช้ใหม่</a></div>
  </div>
    <thead>
        <tr>
            <th scope="col">รหัสพนักงาน</th>
            <th scope="col">ชื่อ-นามสกุล</th>
            <th scope="col">ตำแหน่ง</th>
            <th scope="col">Username</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for u in user %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.first_name }} {{ u.last_name }}</td>
            <td value="{{ u.name }}">{{ u.groups.all.0 }}</td>
            <td value="{{ u.price }}">{{ u.username }}</td>
            <td>
                <a type="button" class="btn btn-warning" id="{{ u.id }}" href={% url 'change_employee' user_id=u.id %}>
                  <i class="fas fa-edit"></i> แก้ไข
                </a>
                <button class="btn btn-danger" id="{{ u.id }}"  onclick=""><i class="fas fa-trash-alt"></i> ลบ</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
  {% endblock table %}
