{% extends 'base.html' %}
{% block content %}
<style>
    table {
        border: 1px solid #CCC;
    }

    #button_receipt,
    #button_notreceipt {
        border-radius: 5px 5px 0 0;
        border: 1px solid #CCC;
        height: 35px;
    }
</style>
<h1 style="margin-top: 50px;">ออเดอร์บุฟเฟต์</h1>
<div class="row">
    <div class="col mb-5">
        <a href="{% url 'customer'%}" type="button" class="btn btn-success float-right"><i class="fas fa-plus"></i>
            สร้างออเดอร์</a>
    </div>
</div>
<button id="button_notreceipt" onclick="show_notreceipt()">ออเดอร์ที่ยังไม่ช็คบิล</button>
<button id="button_receipt" onclick="show_receipt()">ออเดอร์ที่เช็คบิลแล้ว</button>
<div class="table-responsive">
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">วันที่</th>
            <th scope="col">เวลาที่จัดเลั้ยง</th>
            <th scope="col">สถานที่</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="order_receipt_table" style="display:none;">
        {% for list in order_receipt %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ list.order.name }}</td>
            <td>{{ list.date|date:"SHORT_DATE_FORMAT"}}</td>
            <td>{{ list.start_time|date:'H:i น.' }} - {{ list.end_time|date:'H:i น.' }}</td>
            <td>{{ list.location }}</td>
            <td>
                <a type="button" class="btn btn-info" href="{% url 'receipt' id=list.order.id %}"><i
                        class="far fa-eye"></i> ดูบิล</a>
                <a href="{% url 'tax_invoice' order_id=list.order.id %}" type="button" class="btn btn-warning"><i
                        class="fas fa-file-invoice"></i> ทำใบกำกับภาษี</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tbody id="order_notreceipt_table">
        {% for list in order_notreceipt %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ list.order.name }}</td>
            <td>{{ list.date|date:"SHORT_DATE_FORMAT"}}</td>
            <td>{{ list.start_time|date:'H:i น.' }} - {{ list.end_time|date:'H:i น.' }}</td>
            <td>{{ list.location }}</td>
            <td class="text-center m-auto">
                <a href="{% url 'get_order' id=list.order.id %}" type="button" class="btn btn-success"><i
                        class="fas fa-utensils"></i> จัดการออเดอร์/สั่งอาหาร</a>
                <a type="button" class="btn btn-info" href="{% url 'receipt' id=list.order_id %}"><i
                        class="fas fa-receipt"></i> เช็คบิล</a>
                <a href="{% url 'tax_invoice' order_id=list.order.id %}" type="button" class="btn btn-warning"><i
                        class="fas fa-file-invoice"></i> ทำใบกำกับภาษี</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>



<script>
    function show_receipt() {
        document.querySelector("#order_receipt_table").style.display = ""
        document.querySelector("#order_notreceipt_table").style.display = "none"
    }

    function show_notreceipt() {
        document.querySelector("#order_receipt_table").style.display = "none"
        document.querySelector("#order_notreceipt_table").style.display = ""
    }
</script>

{% endblock %}