{% extends 'base.html' %}
{% block content %}

<style>
    h6 {
        font-size: 18px;
    }
</style>
<form action="{% url 'tax_invoice' order_id=order.order.id %}" method="POST">
{% csrf_token %}
<h1 style="margin-top:50px;">ใบกำกับภาษี<br>(Tax invoice)</h1><br><br>
{% if error %}
    <div class="alert alert-warning" role="alert">{{ error }}</div>
{% endif %}
<h6><b>วันเวลา :</b> {{ now }}</h6>
<div class="row">
    <div class="col" style="border:1px solid #AAA; border-radius: 5px; padding:10px;">
    <h5><b><u>รายละเอียดลูกค้า</u></b></h5>
        <h6><b>ชื่อลูกค้า : </b>{{customer}}</h6>
        <h6><b>เบอร์โทร : </b>{{customer.phone}}</h6>
        <h6><b>ที่อยู่ : </b>{{customer.address}}</h6>
        <h6><b>ชื่อบริษัท : </b>{{customer.company}}</h6>
        <h6><b>หมายเลขประจำตัวผู้เสียภาษีอากร : </b><input type="text"name="tax_id" value="{{tax_id}}" maxlength="13" style="border-radius: 5px; border: 1px solid #111;" required></h6>
    </div>

    <div class="col" style="border:1px solid #AAA; border-radius: 5px; padding:10px;">
        <h5><b><u>ข้อมูลใบกำกับภาษี</u></b></h5> 
        <h6><b>วันที่ออก :</b> {{ now|date:"d-m-Y"  }}</h6>
        {% if tax_invoice %}
            <h6><b>หมายเลขใบกำกับภาษี :</b> {{ tax_invoice.0.id }}</h6>
            <h6>
                <b>ชื่อใบกำกับภาษี :</b>
                <input type="text" name="tax_name" value="{{tax_invoice.0.name}}" style="border-radius: 5px; border: 1px solid #111;" disabled>
                <button type="button" onclick="edit_tax(this)"class="btn btn-warning"><i class="fas fa-edit"></i> แก้ไข</button>
            </h6>
        {% else %}
          <h6><b>ชื่อใบกำกับภาษี :</b> <input type="text" name="tax_name" style="border-radius: 5px; border: 1px solid #111;"></h6>
        {% endif %}
        
    </div>
</div>

<table class="table table-sm table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">รายละเอียด</th>
            <th scope="col">จำนวน</th>
            <th scope="col">ราคา</th>
        </tr>
    </thead>
    <tbody>
    {% for foods in order_food %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{foods.food.name}}</td>
            <td>{{foods.unit}}</td>
            <td>{{foods.food_price}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="d-flex bd-highlight text-right">
    <div class="p-0 flex-grow-1 bd-highlight"></div>
    <div class="p-0 flex-shrink-1 bd-highlight" style="border-bottom:1px solid #AAA; border-top:1px solid #AAA;">
        <h6><b>ราคาทั้งหมด :</b> &nbsp;{{ total_price }} บาท</h6>
        <h6><b>ภาษีมูลค่าเพิ่ม :</b> &nbsp;&nbsp;&nbsp;{{ vat }} บาท</h6>
        <h6><b>จำนวนเงินรวมทั้งสิ้น :</b> &nbsp;{{ total }} บาท</h6>
    </div>
</div>

{% if not error %}
<br>
<!-- Button trigger modal -->

{% if tax_invoice %}
<button type="button" id="update_button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModalCenter" disabled>
    <i class="fas fa-receipt"></i> อัปเดทใบกำกับภาษี
</button>
{% else %}
<button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="fas fa-receipt"></i> ออกใบกำกับภาษี
</button>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ยืนยันการออกใบกำกับภาษี?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                กดยืนยันเพื่อทำการเช็คบิล <b>ออเดอร์ : {{order.order.name}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                {% if tax_invoice %}
                    <input type="submit" class="btn btn-primary float-right m-2" name="update" value="ยืนยัน">
                {% else %}
                    <input type="submit" class="btn btn-primary float-right m-2" name="create" value="ยืนยัน">
                {% endif %}
            </div>
        </div>
    </div>
</div>
</form>
{% endif %}

<script>
    function edit_tax(button){
        button.previousElementSibling.disabled = false;
        document.querySelector("#update_button").disabled = false;
    }
</script>
{% endblock  %}